body {
    font-family: roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
}

a {
    text-decoration: none;
}

img {
    height: 200px;
    width: 200px;
}

button {
    border-radius: 5px;
    background-color: #3882F6;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 24px;
}

.name {
    font-size: 24px;
    font-weight: 700;
}

.header {
    justify-content: space-between;
    padding: 10px 55px;
    flex: 1;
}

.content {
    flex-direction: column;
    flex: 8;
    /* justify-content: center; */
    align-items: stretch;
}

.main {
    justify-content: space-evenly;
    flex: 2;
    padding: 50px 0px;
}

.left{
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 50%;
}

.logo {
    align-items: center;
    gap: 20px;
}

.nav {
    align-items: center;
    gap: 20px;
}

.hero {
    font-size: 48px;
    font-weight: 900;
}

.carousel{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
    flex:2;
}

.title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 700;
}

.products {
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    text-align: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 250px;
    height: auto;
    gap: 20px;
}

.caption {
    font-size: 16px;
}

.testimonial {
    background-color: #E5E7EB;
    flex: 2 2 auto;
    padding: 60px 0px;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: light italic;
    max-width: 800px;
    align-self: center;
    font-weight: lighter;
}

.attribute {
    font-weight: 600;
    font-size: 18px;
    text-align: end;
    max-width: 800px;
    align-self: center;
}

.end {
    justify-content: center;
    padding: 50px;
    flex: 2;
}

.action{
    background-color: #3882F6;
    align-items: center;
    border-radius: 8px;
    padding: 30px 150px;
}

.words{
    flex-direction: column;
    padding-right: 100px;
    gap: 5px;
}

.footer {
    flex: 1;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

span.statement {
    font-size: 18px;
    font-weight: 600;
}

.product img {
    border-radius: 10px;
    border: 3px solid #3882F6
}

.right img {
    min-width: 300px;
    max-width: 800px;
}

.logo img {
    width: 100px;
    height: 50px;
}

button#bottom {
    border: 2px solid #F9FAF8;
}

a, span, .statement {
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 100;
}

.carousel, .end {
    background-color: white;
}

.header, .footer, .main{
    background-color: #1F2937;
}

button, span, .name, .hero {
    color: #F9FAF8;
}

body, .main, .content, .header, .footer, 
.nav, .logo, .products, .left, .right, .end, 
.carousel, .product, .action, .testimonial, .words {
    display: flex;
}